

h1 { 
    font-size: 125%;
    padding: 0px;
    margin: 0px;
 }

h2 {
    font-size: 125%;
    text-align:left;
    padding-left:10px;
}

.contact, .faq {
    padding-left:10px;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.border{
    width:200px;
    height:280px;
}

/* Hide border if screen size smaller than 992px */ 
@media only screen and (max-width: 992px) { 
    .border {
        width:auto;
        height:auto;
        border-color:transparent !important;
    } 
    h2 {
        padding-left:0px;
    }

    .contact, .faq {
        padding-left:10px;
    } 
}

